@use "../variables" as *;
@use "../mixin" as *;

.about {
  position: relative;
  margin-top: 3em;
  .container {
    @extend %container;
    @extend %flex-space-center;
    @include breakpoints(mobile) {
      flex-direction: column;
      flex-flow: column-reverse;
    }
    @include breakpoints(small) {
      flex-direction: column;
      flex-flow: column-reverse;
    }
    align-items: start;
    gap: 4em;
    .image {
      max-width: 100%;
    }
    .text {
      flex: 1;
      h3 {
        color: $main-color;
        margin: 0;
      }
      h2 {
        margin-top: 0;
      }
      p {
        @extend %paragraph;
      }
    }
    .arrows {
      @extend %arrows;
    }
  }
  .back-img {
    position: absolute;
    right: 0;
    top: 0;
    max-height: 100%;
    z-index: -10000;
  }
}
