@use "../variables" as *;
@use "../mixin" as *;

.blogs {
  margin-top: 3em;
  position: relative;
  .container {
    @extend %container;
    header {
      @extend %flex-space-center;
      .text h3 {
        color: $main-color;
        margin: 0;
      }

      h2 {
        margin-top: 0;
      }
    }
    main {
      @extend %grid-3-c;
      gap: 0.5em;
      .box {
        padding: 1em 1.5em;
        p {
          @extend %paragraph;
        }
        .right {
          float: right;
          cursor: pointer;
        }
        &:first-child {
          background-color: $main-color;
          * {
            color: white;
          }
        }
        &:not(:first-child) {
          background-color: #eeeeee52;
          .right {
            color: $main-color;
          }
        }
      }
    }
  }
  .back-img {
    position: absolute;
    right: 0;
    top: 0;
    max-width: 50%;
    z-index: -10000;
  }
}
