@use "../variables" as *;
@use "../mixin" as *;

footer {
  padding-bottom: 2em;
  min-width: 30vh;
  background-color: $text-color;
  display: flex;
  align-items: center;
  justify-content: center;
  * {
    color: white;
  }
  .container {
    @extend %container;
    padding: 1em 0;
    text-align: center;
    h1 {
      color: $main-color;
      text-shadow: 1px 0.5px 1px #ffffffa2;
    }
    ul {
      li {
        display: inline-block;
        a {
          padding: 0.5em;
          font-weight: bold;
          &:hover {
            color: $main-color;
            transition: $main-transition;
          }
        }
      }
    }
    p {
      font-size: 0.9rem;
      color: #f0f0f0;
      margin: 2em 0;
    }
    .icons {
      @extend %flex-space-center;
      width: fit-content;
      margin: 1em auto 0;
      i {
        font-size: 2rem;
        display: inline-block;
        margin: 0 0.5em;
        &:hover {
          color: $main-color;
          transition: $main-transition;
        }
      }
    }
  }
}
