@use "../variables" as *;
@use "../mixin" as *;

header {
  padding: 0 0.5em;
  @extend %flex-space-center;
  position: relative;
  @include breakpoints(mobile) {
    display: block;
  }
  .logo {
    @extend %flex-space-center;
    h3 {
      width: fit-content;
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 70%;
        height: 4px;
        background-color: $main-color;
        bottom: -3px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .bars {
      cursor: pointer;
      font-size: 1.4rem;
      display: none;
      @include breakpoints(mobile) {
        display: block;
      }
    }
  }
  .container {
    @extend %container;
    @extend %flex-space-center;
    ul {
      @extend %flex-space-center;
      li {
        padding: 0.5em;
        font-weight: bold;
        &:hover {
          background-color: $second-color;
          transition: $main-transition;
        }
      }
    }
    .info {
      display: flex;
      align-items: center;
      justify-content: end;
      flex: 1;
      > * {
        padding: 0.5em;
      }
      .lang {
        cursor: pointer;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          border: {
            width: 5px;
            color: $text-color transparent transparent;
            style: solid;
          }
          top: 50%;
          right: -2px;
          transform: translateY(-50%);
        }
      }
      .contact-btn {
        color: $main-color;
        // background-color: $second-color;
        box-shadow: 2px 2px 3px #eee;
        cursor: pointer;
        margin-left: 1em;
        font-size: 0.8rem;
        .arrow {
          color: $main-color;
        }
        &:hover .arrow {
          animation: arrow 0.5s infinite;
        }
      }
    }
    @include breakpoints(mobile) {
      display: none;
    }
  }
  .alt-tabs {
    z-index: 10000;
    display: none;
    @include breakpoints(mobile) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    li {
      width: 100%;
      a {
        display: block;
        i {
          display: block;
          width: 100%;
          text-align: center;
          padding: 0.5em;
          color: white;
          background-color: $main-color;
        }
      }
      &:not(:last-child) {
        border-right: 1px solid white;
      }
    }
  }
}

@keyframes arrow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(4px);
  }
}
