@use "../variables" as *;
@use "../mixin" as *;

.services {
  position: relative;
  .container {
    margin-top: 2em;
    @extend %flex-space-center;
    align-items: start;
    @extend %container;
    @include breakpoints(mobile) {
      flex-direction: column;
    }
    @include breakpoints(mobile) {
      text-align: center;
    }
    .content {
      margin: 0;
      flex: 1;
      h2 {
        padding: 0;
        margin: 0;
      }
      button {
        margin-top: 1em;
        @extend %main-button;
      }
    }
    .servs {
      @extend %flex-space-center;
      flex-basis: 50%;
      @include breakpoints(mobile) {
        margin-top: 1em;
        display: block;
      }
      .serv {
        margin-left: 0.5em;
        padding: 1em 1em 0.5em;
        background-color: #eeeeee52;
        @include breakpoints(mobile) {
          margin-top: 1em;
        }
      }
      img {
        height: 50px;
      }
      p {
        @extend %paragraph;
      }
    }
  }
  .back-img {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 50%;
    z-index: -10000;
  }
}
